<div class='row'>
  <div class='col-4 d-flex justify-content-center'>
    <h2 class='font-monospace display-6'>Welcome, {{name}}!</h2>
  </div>
  <div class="col-2"></div>
  <div class='d-flex col-6 justify-content-center'>
    <h2 class='font-monospace display-6'>Previous Vacays</h2>
  </div>
</div>
<div class='row'>
  <div class='col-4 d-flex flex-column align-items-center'>
    <a class='btn btn-primary btn-lg m-2 text-white link-underline-primary'
        id='new-vacay-btn' href='/newVacay'>New Vacay</a>
  </div>
  <div class="col-2"></div>
  <div class='d-flex flex-column-reverse col-6 justify-content-center'>
    {{#if trips.length}}
    {{#each trips as |trip|}}
    {{!-- <button type='button' class='btn btn-primary btn-lg my-2'><a class='text-white link-underline-primary'
        href='/trip/{{trip.id}}'>{{trip.name}}</a></button> --}}
        <a class='btn btn-primary btn-lg my-2 text-white link-underline-primary'
        href='/trip/{{trip.id}}'>{{trip.name}}</a>
    {{/each}}
    {{/if}}
  </div>
</div>
{{!-- <div class="row">
<div class='d-flex col-4 justify-content-center'>
    <h2 class='font-monospace display-6'>Welcome, {{name}}!</h2>
  </div>
  <div class='d-flex col-4 justify-content-center'>
    <button type='button' class='btn btn-primary btn-lg m-2'><a class='text-white link-underline-primary'
        id='new-vacay-btn' href='/newVacay'>New Vacay</a></button>
  </div>
    <div class='d-flex col-8 justify-content-center'>
    <h2 class='font-monospace display-6'>Previous Vacays</h2>
  </div>
  <div class='d-flex flex-column col-8 justify-content-center'>
    {{#if trips.length}}
    {{#each trips as |trip|}}
    <button type='button' class='btn btn-primary btn-lg m-2'><a class='text-white link-underline-primary'
        href='/trip/{{trip.id}}'>{{trip.name}}</a></button>
    {{/each}}
    {{/if}}
  </div>
  </div> --}}



  {{!-- {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src='./js/profile.js'></script>